.root {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scroll {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  color: #3d3547;
  font-weight: 500;
}

.container {
  position: relative;
  width: 50em;
}

.ring {
  position: relative;
  z-index: 2;
}

.circle {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  z-index: 1;
}
.parallaxInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #3d3547;
  border-radius: 50%;
}

.circleInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #3d3547;
  border-radius: 50%;
}

.hemispheres {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
}

.mytext {
  position: absolute;

  background-color: red;
}
.BGradiant {
  background: linear-gradient(180deg, #ffd7ff 0%, #301cbe 100%);
  background-clip: text;
  color: transparent;
}
.changecolor {
  background: linear-gradient(180deg, #f3db00b9 0%, #f52121 100%);
  background-clip: text;
  color: transparent;
}
.changecolor2 {
  background: linear-gradient(180deg, #b906ddb9 0%, #d18fa3 100%);
  background-clip: text;
  color: transparent;
}

.changecolor3 {
  background: linear-gradient(180deg, #fffb0cb9 0%, #df0f0f 100%);
  background-clip: text;
  color: transparent;
}
